@import url(fonts.css);
body {
    font-family: 'Open Sans';
}
ul, li {
    display: block;
    padding: 0;
    margin: 0;
}
.menu-bar {
    background-color: #ffffff;
    color: #212121;
    padding: 20px 0;
}
.menu__item {
    margin-left: 37px;
}
.menu__item a {
    font-family: 'Open Sans Smibold';
    font-size: 20px;
    color: #212121;
}
.menu__item a:hover {
    text-decoration: none;
    color: #868686;
}
/* Header block */
.header > div {
    color: #ffffff;
    text-align: center;
    padding: 180px 0;
    background-size: cover;
    background-position: 0 100%;
    background-image: url(../img/heder.png);
}
.header__title {
    font-size: 55px;
}
.header__text {
    font-size: 20px;
    margin-bottom: 100px;
}
.button {
    padding: 10px 25px;
    margin: 0 10px;
    color: #ffffff;
    transition: 0.3s;
}
.button_empty {
    background: transparent;
    border: 2px solid white;
}
.button_full {
    background: #00897b;
    border: 2px solid #00897b;
}
.button_empty:hover,
.button_full:hover {
    background: #04574e;
    border: 2px dotted #ffffff;
}
/* About block */
.about {
    padding-top: 120px;
    padding-bottom: 125px;
    color: black;
    background: #ffffff;
    text-align: center;
}
.about__title {
    font-size: 30px;
    font-weight: bold;
}
.about__text {
    font-size: 15px;
    margin-bottom: 110px;
}
.about_h3 {
    font-family: 'Open Sans Smibold';
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}